$color-info: #909399;
$color-danger: #F56C6C;
$color-warning: #E6A23C;
$color-success: #67C23A;
$color-main: #409EFF;

$color-text-primary: #303133;
$color-text: #606266;
$color-text-secondary: #909399;
$color-text-placeholder: #C0C4CC;